@model GlobalCalendar.MVC.DTO.TaskDetail

@{
    ViewData["Title"] = "SubmitTask";
}
<style>
    .mybtn {
        border-radius: 3px;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 10px;
        padding: 8px 15px;
        background-color: #00ad25;
        color: #fff;
        transition-delay: .2s;
        transition: .3s;
        font-variant-caps: all-small-caps;
        box-shadow: 4px 3px 11px 0 #00ad25;
    }

        .mybtn:hover {
            background-color: #009420;
            box-shadow: 4px 3px 11px 0 #005a13;
        }

    #csv-input {
        display: none;
    }

    .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group {
        top: 25%;
        padding: 1px 5px;
        margin-right: -1px;
        height: 28px;
    }
</style>
<div class="container">
    <div class="row">
        <div id="mainform">
            <form asp-action="ApproveSubmitTask" enctype="multipart/form-data" id="myForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row col-12">
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <input type="hidden" asp-for="TaskDocId" />
                        <input type="hidden" value="@Model.Id" name="TaskId" />
                        <label asp-for="Id" class="control-label">Task No</label>
                        <input asp-for="Id" class="form-control" disabled />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="TaskName" class="control-label">Task Name</label>
                        <input asp-for="TaskName" class="form-control" disabled />
                        <span asp-validation-for="TaskName" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="TaskDescription" class="control-label">Task Description</label>
                <input asp-for="TaskDescription" class="form-control" disabled />
                <span asp-validation-for="TaskDescription" class="text-danger"></span>
            </div>
                <div class="row col-12">
                    @{
                        string[] nameArray = Model.Period.Split(new string[] { " - " }, StringSplitOptions.None);
                        string StartDate = nameArray[0];
                        string EndDate = nameArray[1];
                    }
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label class="control-label">Start Date</label>
                            <input class="form-control" disabled value="@StartDate" />
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label class="control-label">End Date</label>
                            <input class="form-control" disabled value="@EndDate" />
                        </div>
                    </div>
                </div>
            <div class="row col-12">
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="PrimaryOwner" class="control-label">Primary Owner</label>
                        <input asp-for="PrimaryOwner" class="form-control" disabled />
                        <span asp-validation-for="PrimaryOwner" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="SecondaryOwner" class="control-label">Secondary Owner</label>
                        <input asp-for="SecondaryOwner" class="form-control" disabled />
                        <span asp-validation-for="SecondaryOwner" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row col-12">
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="PrimaryApprover" class="control-label">Primary Approver</label>
                        <input asp-for="PrimaryApprover" class="form-control" disabled />
                        <span asp-validation-for="PrimaryApprover" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label asp-for="SecondaryApprover" class="control-label">Secondary Approver</label>
                        <input asp-for="SecondaryApprover" class="form-control" disabled />
                        <span asp-validation-for="SecondaryApprover" class="text-danger"></span>
                    </div>
                </div>
            </div>


            @*<div class="form-group">
            <label asp-for="UploadDoc" class="control-label">Document Upload</label>
            <input asp-for="UploadDoc" class="form-control" />
            @*<span asp-validation-for="UploadFile" class="text-danger"></span>*@
            @*    <br />*@
            <label for="basic-url">Document upload</label>
            <div class="input-group">
                <label class="input-group-btn" style="top:-8px !important;position: static !important;">
                    <span class="btn btn-default" style="font-size: 12px;">
                            @* Browse&hellip; *@
                            <img src="~/Icon/file.png" />
                        <input id="csv-input" type="file" style="display: none;" />
                    </span>
                </label>
                <input type="text" class="form-control" readonly placeholder="Upload Document" />
                <span class="input-group-btn" style=" position: static !important;">
                    <button class="btn disabled" type="button" id="btnsubmit" style="    padding: 1px 5px;
    height: 28px;
    z-index: 2;
    margin-left: -1px;
background-color:orange !important;" @*onclick="uploadFile()"*@ >
                        <i class="fa fa-upload" aria-hidden="true"></i>
                    </button>
                </span>

            </div>

            <div style="display:none;" id="divdatatable">
                <table id="dataTable" class="table text-center">
                    <thead>
                        <tr>
                            <th>SR NO</th>
                            <th>File Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <br />


            <div class="form-group">
                <label class="control-label">Comment<span class="text-danger">*</span></label>
                <textarea asp-for="Comment" class="form-control" id="commentTextarea" style="resize: none;"></textarea>

                <span id="spncomment" style="display:none;" class="text-danger"></span>
            </div>
            <div style="display:none;" id="divdatatable1">
                <table id="dataTable1" class="table text-center">
                    <thead>
                        <tr>
                            <th>SR NO</th>
                                <th>UserName</th>
                            
                                <th>Comment Date</th>
                                <th>Comment</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <br />
            @if (Model.Duedateforsubmission <= DateTime.Now)
            {
                <div class="form-group" id="check">
                    <label asp-for="OverdueTask" class="control-label">Reason for overdue task</label>
                    <select asp-for="OverdueTask" class="form-control">
                        <option value="">Select Reason</option>
                        @foreach (var reason in ViewBag.Reason)
                        {
                            <option value="@reason.Value">@reason.Text</option>
                        }
                    </select>
                    <span id="spnoverduetask" class="text-danger"></span>

            </div>
            }
            <div class="form-group">
                <input type="submit" value="Approve" name="btn" class="btn btn-default" />
                <input type="button" value="Query to owner" id="send" class="btn btn-default" />
            </div>
        </form>
        </div>
      @*  <div style="display:none" id="query">
        <form asp-action="QueryOwner">
               
            <input type="hidden" asp-for="dtId" />
                <input type="hidden" asp-for="TaskDocId" />
            <div class="form-group">
                    <label asp-for="Comment2" class="control-label">Comment</label>
                <textarea asp-for="Comment2" class="form-control" id="commentTextarea" style="resize: none;"></textarea>

                <span asp-validation-for="Comment2" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <input type="submit" value="Send back" name="btn" class="btn btn-default" />
                    <input type="button" value="Cancel" id="btnCancel" class="btn btn-default" />
                </div>
        </form>

        </div>*@
    </div>
</div>


@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
<script>
    var textarea = document.getElementById('commentTextarea');
    textarea.addEventListener('input', function () {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + 'px';
    });

    $('#btnCancel').click(function(){
        window.location.href = "/GlobalCalendar/Home/ApproveTaskList"
    });
    $(function () {
        // We can attach the `fileselect` event to all file inputs on the page
        $(document).on("change", ":file", function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input
                    .val()
                    .replace(/\\/g, "/")
                    .replace(/.*\//, "");
            input.trigger("fileselect", [numFiles, label]);
        });

        // We can watch for our custom `fileselect` event like this
        $(document).ready(function () {
            debugger;
       
            var TaskId = @Model.dtId;
            GetList(TaskId);
            GetCommentList(TaskId);
            $(":file").on("fileselect", function (event, numFiles, label) {
                var input = $(this)
                    .parents(".input-group")
                    .find(":text"),
                    log = numFiles > 1 ? numFiles + " files selected" : label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }
            });
        });
    });
    $('#send').click(function () {
        debugger;
        var Comment = $('#commentTextarea').val();
        var dtId = @Model.dtId;
        var TaskDocId = $('#TaskDocId').val();
        var errorlog = 0;
        if (Comment == "") {
            $('#spncomment').text("Please Enter Comment").show();
            errorlog++;
            return false;
        }
        if (errorlog == 0) {
            $('#spncomment').hide();
            
            Swal.fire({
                title: '',
                text: "Are you sure you want to send to query to owner?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    var queryString = "Comment=" + encodeURIComponent(Comment) +
                        "&dtId=" + encodeURIComponent(dtId) +
                        "&TaskDocId=" + encodeURIComponent(TaskDocId);
                    // User confirmed, perform form submission action
                    $.ajax({
                        url: '@Url.Action("QueryOwner","Home")'+'?'+queryString,
                        type: 'POST',
                        contentType: 'application/json',
                        //data: JSON.stringify(obj),
                        success: function (response) {
                            if (response.data == "Sucess") {
                                window.location.href = "/GlobalCalendar/Home/ApproveTaskList";
                            }
                            else {
                                Swal.fire({
                                    title: 'Error!',
                                    text: response.data,
                                    icon: 'error',
                                    confirmButtonText: 'OK'
                                });
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            // Handle error
                        }
                    });
                    // Move action method here
                }
                else {
                    return false;
                }
            });


        }

    });
    function uploadFile() {
        var fileInput = $('#csv-input')[0];
        if (fileInput.files.length > 0){
        var formData = new FormData();
        formData.append('file', fileInput);
        }
        else{
            $('#spnval').text("Please Select File").show();
            return false;
        }

        var queryString = "?param1=@Model.dtId";

        $.ajax({
            url: '@Url.Action("Upload", "Home")' + queryString,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                $('#divdatatable').show();
                if ($.fn.DataTable.isDataTable('#dataTable')) {
                    $('#dataTable').DataTable().destroy();
                }
                $('#dataTable').DataTable({
                    data: response.data, // Assuming response has a property 'data' containing the array of objects
                    columns: [
                        {
                            data: 'SR NO',
                            render: function (data, type, row, meta) {
                                // Use meta.row + 1 to generate an incrementing number starting from 1
                                return meta.row + 1;
                            }
                        },
                        { data: 'taskFileName' },
                       
                        {
                            data: null,
                            render: function (data, type, row) {
                                var rowHtml = ''; // Corrected variable name from 'row' to 'rowHtml'
                                rowHtml += '<div><a href="/uploads/' + data.taskDocumnet + '" class="btn" data-toggle="tooltip" data-placement="top" title="Download File" style="padding:1px 14px !important;margin-right:5px;"><i class="fa fa-download" aria-hidden="true"></i></a></div>'; // Adjust this according to your requirement
                                //rowHtml += '<button onclick="confirmDelete(\'' + data.uploadId + '\')" class="btn" style="background-color:red;color:white;padding:1px 14px !important;" data-toggle="tooltip" data-placement="top" title="Delete This File"><i class="fa fa-trash-o"></i></button></div>';
                                return rowHtml; // Return the HTML string
                                // Corrected variable name from 'row' to 'rowHtml'
                            }
                        }
                    ],
                    searching: false, // Disable searching
                    lengthChange: false, // Disable page length change
                    pageLength: 4
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    function confirmDelete(srNo) {
        debugger;
        if (confirm("Are you sure you want to delete Record?")) {
            var queryString = "?param1=" + srNo + "&param2=" + '@Model.dtId';

            $.ajax({
                url: '@Url.Action("DeleteDoc", "Home")' + queryString,
                type: 'POST',
                async: false,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.data != "") {
                        $('#divdatatable').show();
                        if ($.fn.DataTable.isDataTable('#dataTable')) {
                            $('#dataTable').DataTable().destroy();
                        }
                        $('#dataTable').DataTable({
                            data: response.data, // Assuming response has a property 'data' containing the array of objects
                            columns: [
                                {
                                    data: 'SR NO',
                                    render: function (data, type, row, meta) {
                                        // Use meta.row + 1 to generate an incrementing number starting from 1
                                        return meta.row + 1;
                                    }
                                },
                                { data: 'taskFileName' },
                                {
                                    data: null,
                                    render: function (data, type, row) {
                                        var rowHtml = ''; // Corrected variable name from 'row' to 'rowHtml'
                                        rowHtml += '<div><a href="/uploads/' + data.taskDocumnet + '" class="btn" data-toggle="tooltip" data-placement="top" title="Download File" style="padding:1px 14px !important;margin-right:5px;"><i class="fa fa-download" aria-hidden="true"></i></a>'; // Adjust this according to your requirement
                                        rowHtml += '<button onclick="confirmDelete(\'' + data.uploadId + '\')" class="btn" style="background-color:red;color:white;padding:1px 14px !important;" data-toggle="tooltip" data-placement="top" title="Delete This File"><i class="fa fa-trash-o"></i></button></div>';
                                        return rowHtml; // Return the HTML string
                                        // Corrected variable name from 'row' to 'rowHtml'
                                    }
                                }
                            ],
                            searching: false, // Disable searching
                            lengthChange: false, // Disable page length change
                            pageLength: 4
                        });
                    }
                    else {
                        alert("Something Went Wrong");
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    }
    function GetList(TaskId) {
        debugger;
        var queryString = "?id=" + TaskId; // Concatenate TaskId correctly
        $.ajax({
            url: '@Url.Action("GetDocumentDetailByTask", "Home")' + queryString,
            type: 'POST',
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.data.length > 0) { // Check if response data is not empty
                    $('#divdatatable').show();
                    if ($.fn.DataTable.isDataTable('#dataTable')) {
                        $('#dataTable').DataTable().destroy();
                    }
                    $('#dataTable').DataTable({
                        data: response.data, // Assuming response has a property 'data' containing the array of objects
                        columns: [
                            {
                                data: 'SR NO',
                                render: function (data, type, row, meta) {
                                    // Use meta.row + 1 to generate an incrementing number starting from 1
                                    return meta.row + 1;
                                }
                            },
                            { data: 'taskFileName' },
                            {
                                data: null,
                                render: function (data, type, row) {
                                    debugger;
                                    console.log(data.taskDocumnet);
                                     var downloadUrl = '@Url.Action("Download", "Home")' + '?fileName=' + data.taskDocumnet;
                                    // Construct the download link with the file name
                                    var rowHtml = ''; // Corrected variable name from 'row' to 'rowHtml'
                                    rowHtml += '<div><a href="' + downloadUrl + '" class="btn" data-toggle="tooltip" data-placement="top" title="Download File" style="padding:1px 14px !important;margin-right:5px;"><i class="fa fa-eye" aria-hidden="true"></i></a>';
                                    //rowHtml += '<button onclick="confirmDelete(\'' + data.uploadId + '\')" class="btn" style="background-color:red;color:white;padding:1px 14px !important;" data-toggle="tooltip" data-placement="top" title="Delete This File"><i class="fa fa-trash-o"></i></button></div>';
                                    return rowHtml; // Return the HTML string
                                }
                            }
                            
                        ],
                        searching: false, // Disable searching
                        lengthChange: false, // Disable page length change
                        pageLength: 4
                    });
                } else {
                    $('#divdatatable').hide(); // Hide the datatable if response data is empty
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    function GetCommentList(TaskId) {
        debugger;
        var queryString = "?id=" + TaskId; // Concatenate TaskId correctly
        $.ajax({
            url: '@Url.Action("GetAllComment", "Home")' + queryString,
            type: 'POST',
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.data.length > 0) { // Check if response data is not empty
                    $('#divdatatable1').show();
                    if ($.fn.DataTable.isDataTable('#dataTable1')) {
                        $('#dataTable').DataTable().destroy();
                    }
                    $('#dataTable1').DataTable({
                        data: response.data, // Assuming response has a property 'data' containing the array of objects
                        columns: [
                            {
                                data: 'SR NO',
                                render: function (data, type, row, meta) {
                                    // Use meta.row + 1 to generate an incrementing number starting from 1
                                    return meta.row + 1;
                                }
                            },
                            { data: 'userName' },
                            { data: 'commentDate' },
                           
                            { data: 'comment' },
                        ],
                        searching: false, // Disable searching
                        lengthChange: false, // Disable page length change
                        pageLength: 4
                    });
                } else {
                    $('#divdatatable1').hide(); // Hide the datatable if response data is empty
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
      async function validateForm() {
        debugger;
          var isVisible = $('#check').is(':visible');
        var Comment = $('#commentTextarea').val();
          if(isVisible){
        var value=$('#OverdueTask').val();
          if(value == null || value == '' || isNaN(value)){
              $('#spnoverduetask').text('Please Select Overdue Task').show();
              return false;
          }
          }
          if(Comment == ""){
            $('#spncomment').text("Please Enter Comment").show();
            return false;
          }
          return true;
    }
    $(document).ready(function () {
    $('#myForm').submit(async function (event) {
        debugger;
        event.preventDefault(); // Prevent the default form submission
            var isValid = await validateForm();
            if(isValid){
                  Swal.fire({
                title: '',
                    text: "Are you sure you want to approve?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {
                if (result.isConfirmed) {
                    // User confirmed, perform form submission action
                    document.getElementById("myForm").submit();
                    // Move action method here
                }
                else {
                    return false;
                }
            });
          }
        
    });
        });

</script>